:root {
    --blue-color: #1073C0;
    --blue-alt-color: #0061AD;
    --background-color: #F2F4FA;
    --fill-color: #E6F4FF;
    --orange-color: #FDC97C;
    --green-color: #21B984;
    --grey-color: #919191;
}

/* start header */
.header .boxs{
    min-height: 40px;
    flex: 1;
    width: 100%;
}

@media (max-width:767px) {
    .header .boxs{
        overflow-x: scroll;
    }
}
.header nav{
    
    background-color: var(--blue-color);
    color: white;
}

.header nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav .logo img{
    height: 40px;

}

.header nav .tools-menu{
    display: flex;
    align-items: center;

}
.header nav .tools-menu div{
    background-color: var(--blue-alt-color);
    padding: 10px;
    min-width: 40px;
    margin: 5px ;
    border-radius: 6px;
}

.header .arrow .container i{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 40px;
    padding: 20px ;
    
}


/* end header */