:root {
    --blue-color: #1073C0;
    --blue-alt-color: #0061AD;
    --background-color: #F2F4FA;
    --fill-color: #E6F4FF;
    --orange-color: #f6a72f;
    --green-color: #21966d;
    --gray-color: #919191;
}

body{
    background-color:#f2f4fa;
}
/* start header */
.header .container{
    overflow-x: auto;
}
.header .boxs{
    min-width: 1000px;
    min-height: 50px;
    flex: 1;
    width: 100%;
    color: var(--gray-color);
}

.header nav{
    background-color: var(--blue-color);
    color: white;
    width: 100%;
}

.header nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav .logo img{
    height: 40px;

}
@media (max-width:767px) {
  .header nav .logo img{
    height: 25px;
  }
}


.header nav .tools-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header nav .tools-menu div{
    background-color: var(--blue-alt-color);
    padding: 10px;
    min-width: 40px;
    margin: 5px ;
    border-radius: 6px;
}

@media (max-width:767px) {
 .header nav .tools-menu .lang i{
    display: none;
 } 
}

.header .arrow .container i{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 40px;
    padding: 20px ;
    
}


/* end header */

/* start welcome */
.welcome {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 30px;
}

.welcome .content{
    margin-top: 50px;
}

.welcome .content h2{
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    max-width: 400px;
    line-height: 1.5;
}
.welcome .content p{
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 2;
}

@media (max-width:767px) {
  .welcome .content h2,
  .welcome .content p{
    max-width: 100%;
    
  }
  .welcome .content p{
    text-align: left;
  }
}

.welcome .content a{
    display: flex;
    color: white;
    background-color: var(--blue-color);
    padding: 5px 100px;
    text-align: center;
    border-radius: 5px;
    width: 120px;
    margin: 30px 0;

}

@media (max-width:767px) {

  .welcome .content a{
    margin: 20px auto;
  }
}

.welcome .content a i{
    margin-left: 10px;
}


.welcome .image {
       display: flex;
    align-items: centter;
    justify-content: center;
}

.welcome .pay img{
    height: 40px;
    margin: 0 10px;
}

.welcome .image img{
   max-width: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid #fff;
    border-radius: 17px;

 
}

@media (max-width:767px) {
    .welcome .image img{
        max-height: 400px;

    }
}
/* end welcome */

/* start commission */
.commission {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;

}

@media (max-width:767px) {
    .commission{
        grid-template-columns: minmax(320px, 1fr);
    }
}
.commission p{
    margin: 0;
}
.commission .card{
    border-radius: 17px;
   padding: 40px 30px;
}

.commission .card-head{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.commission .card-head i{
    font-size: 30px;
    padding: 25px;
    border-radius: 50%;
}

.commission .card-head .car{
    color: var(--blue-color);
    background-color: #82c1f189;
}

.commission .card-head .dots{
    color: white;
    padding: 8px;
    background-color:var(--blue-color);
    border: 15px solid   #9adcff;
    
}

.commission .card-head p{
    color: var(--blue-color);
}

.commission .card .card-body{
    margin: 10px;
}
.commission .card .card-body p{
 font-size: 14px;
 font-weight: 300;
 line-height: 1.8;

}

.commission .card .card-body ul{
    list-style:outside;
}


.commission .card .card-body ul li{
    margin: 10px 0;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 300;
}
/* end commission */

/* start participate */
.participate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 17px;
}

.participate i{
    font-size: 25px;
    padding: 10px 13px;
    border-radius: 50px;
    color: var(--blue-color);
    background-color: #82c1f189;
}

.participate a {

    display: flex;
    color: white;
    background-color: var(--blue-color);
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
   
}


/* end participate */

/* start calc commission */

.calc{
    background-color: white;
    text-align: center;
    margin: 30px 0;
    padding: 30px;
    border-radius: 17px;
}
.calc .title{
  color: #0b6eb9;
}

.calc form .price label{
    position: absolute;
    left: 10px;

}
.calc form div{
    border: 1px solid #ddd;
    width: 350px;
    margin: 20px auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
}


.calc form .price input{
    width: 200px;
    text-align: center;
    padding-left: 100px;
    outline: none;
    border: none;
}


.calc form .total{
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;


}


.calc form .total input{
    border: none;
    text-align: center;
    font-size: 20px;
    width: 100px;

}

.calc .pay-option img{
    height: 30px;
}

.calc p span{
    color: var(--blue-alt-color);
    font-weight: bold;
    font-size: 18px;
}

.calc .c-green i{
    background-color: var(--green-color);
    color: white;
    padding:5px 10px;
    border-radius: 25px;
}

.calc .pay-option{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--green-color);
    border-radius: 17px ;
    max-width: 500px;
    margin: 5px auto;
    padding: 5px;

}

@media (max-width:676px) {
    .calc .pay-option{
        flex-direction: column;
    }
}
/* end  calc commission */

/* start bank transfer */
.bank-option{
    background-color: white;
    text-align: center;
    margin: 30px 0;
    padding: 70px 30px;
    border-radius: 17px;
}

.bank-option p span {
    color: var(--blue-alt-color);
    font-weight: bold;
    font-size: 18px;
}
.bank-option .c-orange{
    max-width: 650px;
    margin: 0 auto;
    text-align: left;
}
.bank-option .c-orange i{
        background-color: var(--orange-color);
        color: white;
        padding:5px 10px;
        border-radius: 25px;
}
/* end bank transfer */

/* start bank account */
.accounts{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 30px;
    margin-bottom: 50px;
}
@media (max-width:767px) {
    .accounts{
        grid-template-columns: minmax(300px, 1fr);
    }
    
}
.accounts .card{
    background-color: white;
    padding: 30px;
    border-radius: 50px;
}

.accounts .card .logo{
    display: flex;
    justify-content: flex-end;
}
.accounts .card .logo img{
    max-width: 70px;
}

.accounts .card .details .title{
    font-size: 13px;
    margin: 0;
}

.accounts .card .details .account-no{
    color: var(--blue-alt-color);
    font-weight: 750;
    margin: 5px 0;
}

.accounts .card .details .iban-title{
    text-transform: uppercase;
    font-size: 14px;
    color: gray;
    margin: 0;
}

.accounts .card .details .iban{
    color: #ccc;
    font-weight: 700;
    margin: 5px 0;
}

.accounts .card .details .company{
    color: gray;
    text-align: right;
    margin-bottom: 0;
}
/* end bank account */

/* start transfer form */
.transfer-form{
    background-color: white;
    padding: 30px;
    border-radius: 25px;
    text-align: center;

}

.transfer-form .title h2{
    color: #0b6eb9;

}
.transfer-form .title p{
    color: #bbb;
    margin-top: 5px;
}

.transfer-form .form-det{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 10px;
    text-align: left;
}
.transfer-form .form-det div{
    margin-bottom: 10px;
}
.transfer-form .form-det label{
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
.transfer-form .form-det input,
.transfer-form .form-det select{
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: var(--blue-alt-color);

}

.transfer-form small{
    color: #aaa;
    display: block;
}

.transfer-form form .btn{
    padding: 10px 100px;
    background-color: var(--blue-color);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.transfer-form a{
    color: #aaa;
    text-decoration: underline;
}

/* End transfer form */